---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: UTF-8
      string: Body=hi&To=1111111&From=15005550006
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNkZWYzODU4ZmEzNTc2NzFmYTBmYzQ2MTAzMTg1M2MyMTo0ZTBhMWRiOTg3NDRhZWM4MWE1ZjgwN2Q4OTlhMWJjZQ==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.112'
      Twilio-Request-Id:
      - RQ518785075f834e10a4c49c21f55d1c41
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21212, "message": "The ''From'' number 15005550006 is not
        a valid phone number, shortcode, or alphanumeric sender ID.", "more_info":
        "https://www.twilio.com/docs/errors/21212", "status": 400}'
  recorded_at: Mon, 26 Sep 2016 20:46:00 GMT
recorded_with: VCR 3.0.3
