---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: UTF-8
      string: Body=hi&To=7154979902&From=7155982908
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNkZWYzODU4ZmEzNTc2NzFmYTBmYzQ2MTAzMTg1M2MyMTo0ZTBhMWRiOTg3NDRhZWM4MWE1ZjgwN2Q4OTlhMWJjZQ==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.312'
      Twilio-Request-Id:
      - RQ663f8c3147234405b8b7cc2fae0b91a8
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM7a9f4e99a2a44e2f8e3b8634036b7f20", "date_created": "Mon,
        26 Sep 2016 20:46:00 +0000", "date_updated": "Mon, 26 Sep 2016 20:46:00 +0000",
        "date_sent": null, "account_sid": "<twilio account sid>", "to": "+17154979902",
        "from": "+17155982908", "messaging_service_sid": null, "body": "Sent from
        your Twilio trial account - hi", "status": "queued", "num_segments": "1",
        "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": null, "price_unit": "USD", "error_code": null, "error_message": null,
        "uri": "/2010-04-01/Accounts/<twilio account sid>/Messages/SM7a9f4e99a2a44e2f8e3b8634036b7f20.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<twilio account sid>/Messages/SM7a9f4e99a2a44e2f8e3b8634036b7f20/Media.json"}}'
  recorded_at: Mon, 26 Sep 2016 20:46:00 GMT
recorded_with: VCR 3.0.3
